.matchContainer {
  margin: 0 auto;
  color: white;
  font-size: clamp(20px, 12vw, 30px);
}

.matchHeroSection {
  color: white;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
}

.matchHeroSection::before,
.matchHeroSection::after {
  content: "";
  position: absolute;
  height: 70vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../Assets/icons/santiago.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px);
  z-index: -1;
}

.matchHeroSection::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 calc(50% - 1px));
}

.matchHeroSection::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 calc(50% + 1px));
}

.live {
  color: black;
}

.tabContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: 80px;
  /* margin: 0 auto; */
  color: black;
}

.cardImage {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
}

.teamA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.teamA > h1 {
  font-size: clamp(8px, 4vw, 30px);
  text-align: center;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  column-gap: 5px;
  width: fit-content;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.646);
}

.liveContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding: 20px auto; */
  justify-content: center;
  align-items: center;
  font-size: clamp(12px, 3vw, 30px);
  background-color: rgba(240, 233, 233, 0.893);
  padding: 20px;
}

.iconType {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.iconSubstitution {
  width: 20px;
  height: 2rem;
  /* object-fit: contain; */
}

.position {
  display: flex;
  flex-direction: column;
  /* row-gap: 20px; */
  width: 100%;
  /* background-color: red; */
}

.out {
  color: grey;
}

.lineContainer {
  width: 100vw;
  background-color: rgb(244, 244, 244);
}

.reportsContainer {
  width: 100vw;
  height: fit-content;
  padding: 5px;
  font-size: clamp(12px, 3vw, 30px);
  background-color: rgba(240, 233, 233, 0.893);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.infoContainer {
  width: 100%;
  height: fit-content;
  padding: 20px;
  font-size: clamp(12px, 3vw, 30px);
  background-color: rgba(240, 233, 233, 0.893);
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.imagesReports {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit:cover;
}

.singleReport {
  display: flex;
  column-gap: 5px;
}

.partReport {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  width: 100%;
}

.partReport > p {
  font-size: clamp(15px, 5vw, 25px);
}

.textArea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical;
}

.ButtonsReport {
  display: flex;
  column-gap: 10px;
}

.post {
  padding: 5px 20px;
  font-size: clamp(10px, 5vw, 20px);
  border-radius: 10px;
  border: none;
  color: white;
  background: linear-gradient(to right, var(--primary-clr), var(--third-clr));
}

.post:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .cardImage {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
  }
}

@media screen and (max-width: 700px) {
  .cardImage {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
  }
}

@media screen and (max-width: 350px) {
  .cardImage {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }
  .result {
    height: 60px;
    padding: 5px;
  }
  .iconType {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
  .liveContainer {
    padding: 10px;
  }
}

.event {
  display: flex;
  column-gap: 20%;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  width: 38rem;
  height: fit-content;
  padding: 5px;
}

.event > p {
  width: 12rem;
  height: fit-content;
  padding: 5px;
  color: grey;
  text-align: center;
  /* background-color: green; */
}

.eventActions {
  display: flex;
  column-gap: 10px;
}

.eventActions img {
  width: 20px;
  transition: opacity 0.3s;
}

.eventActions img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.type {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 10px;
  width: 12rem;
  height: fit-content;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  background-color: white;
  /* background-color: blue; */
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.359);
}

.flexStart {
  flex-direction: row-reverse;
}

.rowDirection {
  flex-direction: row;
}

.persons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: fit-content;
  padding: 20px;
  border-radius: 30px;
  /* background-color: blue; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.347);
}

.things{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.343);
  border-radius: 20px;
}

.thing{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.linesmanContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  column-gap: 20px;
  /* background-color: blue; */
  font-family: var(--font-family);
}

.linesman {
  display: flex;
  column-gap: 10px;
}

.linesmanImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: fill;
  /* object-fit: contain; */
}

.iconInfo {
  width: 50px;
  height: 70px;
  object-fit: contain;
}

@media screen and (max-width: 1050px) {
  .event {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  .event {
    width: 90%;
  }
}

@media screen and (max-width: 680px) {
  .event {
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .type {
    width: 7rem;
  }
  .event > p {
    width: 7rem;
  }
}

@media screen and (max-width: 450px) {
  .event {
    column-gap: 10%;
  }
}

@media screen and (max-width: 350px) {
  .event {
    column-gap: 5%;
  }
}

.open {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 5vw, 50px);
  font-weight: bold;
  color: white;
  background-color: rgb(20, 172, 20);
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.open:hover {
  cursor: pointer;
  background-color: var(--secondary-clr);
}

.endMatch {
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(10px, 3vw, 20px);
  font-weight: bold;
  color: white;
  background-color: rgb(189, 31, 31);
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.endMatch:hover {
  cursor: pointer;
  background-color: var(--third-clr);
}
