.matchContainer {
  margin: 0 auto;
  color: white;
  font-size: clamp(20px, 12vw, 30px);
}

.matchHeroSection {
  color: white;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
}

.matchHeroSection::before,
.matchHeroSection::after {
  content: "";
  position: absolute;
  height: 70vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../Assets/icons/santiago.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px);
  z-index: -1;
}

.matchHeroSection::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 calc(50% - 1px));
}

.matchHeroSection::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 calc(50% + 1px));
}

.live {
  color: black;
}

.tabContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: 80px;
  color: black;
}

.cardImage {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
}

.teamA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.teamA > h1 {
  font-size: clamp(8px, 4vw, 30px);
  text-align: center;
}

.containerScores {
  display: flex;
  column-gap: 5px;
}

.results {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.646);
  padding: 10px 20px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(25px, 4vw, 50px);
}

.resultPenalties {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(15px, 3vw, 30px);
  color: rgb(184, 183, 183);
}

.resultHT {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  column-gap: 50px;
  width: fit-content;
  /* height: 100px; */
  border-radius: 10px;
  background-color: rgba(77, 57, 57, 0.646);
  margin: 0 auto;
}

.liveContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: clamp(12px, 3vw, 30px);
  background-color: rgba(240, 233, 233, 0.893);
}

.iconType {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.iconSubstitution {
  width: 20px;
  height: 2rem;
  /* object-fit: contain; */
}

.position {
  display: flex;
  flex-direction: column;
  /* row-gap: 20px; */
  width: 100%;
  /* background-color: red; */
}

.location {
  all: unset;
  transition: opacity 0.3s ease;
}

.location:hover {
  cursor: pointer;
  opacity: 0.7;
}

.out {
  color: grey;
  font-size: clamp(10px, 2vw, 18px);
}

.scorePlayer {
  font-size: clamp(10px, 2vw, 18px);
}

.singleEvent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}

.singleEventB {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}

.playerIdImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.lineContainer {
  width: 100%;
  background-color: rgb(244, 244, 244);
}

.administratorContainer {
  width: 100%;
  background-color: rgb(244, 244, 244);
}

.reportsContainer {
  width: 100%;
  height: fit-content;
  padding: 10px;
  font-size: clamp(12px, 3vw, 30px);
  background-color: rgba(240, 233, 233, 0.893);
  display: flex;
  column-gap: 24px;
  /* flex-direction: column; */
  /* row-gap: 20px; */
}

.infoContainer {
  width: 100%;
  height: fit-content;
  padding: 20px;
  font-size: clamp(12px, 3vw, 30px);
  background-color: rgba(240, 233, 233, 0.893);
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.imagesReports {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.singleReport {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 50%;
}
.singleReportFull {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.partReport {
  display: flex;
  /* flex-direction: column; */
  column-gap: 10px;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.partReportAr {
  display: flex;
  flex-direction: row-reverse;
  /* flex-direction: column; */
  column-gap: 10px;
  /* justify-content: flex-end; */
  align-items: center;
  width: 100%;
}

.partReport > p {
  /* font-size: clamp(12px, 3vw, 22px); */
  font-size: clamp(10px, 2.5vw, 18px);
}

.textArea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical;
}

.ButtonsReport {
  display: flex;
  column-gap: 10px;
}

.ButtonsReportAr {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.post {
  padding: 5px 20px;
  font-size: clamp(10px, 5vw, 20px);
  border-radius: 10px;
  border: none;
  color: white;
  background: linear-gradient(to right, var(--primary-clr), var(--third-clr));
  transition: opacity 0.3s ease;
}

.post:hover {
  cursor: pointer;
  opacity: 0.7;
}

.back {
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr);
  padding: 5px 20px;
  font-size: clamp(10px, 5vw, 20px);
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.back:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* styles.css */
.fabGradient {
  background: linear-gradient(to right, var(--primary-clr), var(--third-clr));
  color: white;
  transition: opacity 0.3s;
}

.fabGradient:hover {
  cursor: pointer;
  opacity: 0.7;
}

.lineContainer {
  font-size: clamp(12px, 3vw, 22px);
  display: flex;
  column-gap: 20px;
  justify-content: center;
  padding: 20px 5px;
}

.administratorContainer {
  font-size: clamp(12px, 3vw, 22px);
  display: flex;
  column-gap: 20px;
  justify-content: center;
  padding: 20px 5px;
}

.containerTeamA {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 400px;
  /* height: fit-content; */
}

.players {
  display: flex;
}

.starterTeamA {
  border: 1px rgb(187, 187, 187) solid;
  /* min-height: 400px; */
  /* background-color: blue; */
  /* display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px rgb(187, 187, 187) solid; */
}

.playersContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.imageDiv {
  background-color: var(--primary-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  padding: 10px 0px;
  height: 120px;
}

.imageDivPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.starterImage {
  max-width: 80px;
  max-height: 80px;
}

.starters {
  color: white;
  background-color: #d85257;
  text-align: center;
  padding: 10px 0px;
}

.singlePlayer {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-top: 5px;
  /* background-color: blue; */
  height: 80px;
}

.customImagePlayer {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.nameNumber {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.characteristic {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(10px, 3vw, 25px);
}

@media screen and (max-width: 1000px) {
  .cardImage {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
  }
  .reportsContainer {
    flex-direction: column;
    row-gap: 20px;
  }
  .singleReport {
    width: 99%;
  }
}

@media screen and (max-width: 800px) {
  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
  }
  .persons {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .cardImage {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
  }
}

@media screen and (max-width: 500px) {
  .results {
    padding: 10px;
  }

  .starterImage {
    max-width: 50px;
    max-height: 50px;
  }

  .lineContainer {
    column-gap: 5px;
  }

  .administratorContainer {
    column-gap: 5px;
  }

  .customImagePlayer {
    width: 30px;
    height: 30px;
  }
  .imageDiv {
    height: 80px;
  }
  .singlePlayer {
    height: 40px;
  }

  .tabContainer {
    /* display: flex; */
    justify-content: space-between;
    padding: 0px 3px;
    column-gap: 5px;
    height: 60px;
    color: black;
  }

  .iconType {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
}

@media screen and (max-width: 350px) {
  .cardImage {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }
  .liveContainer {
    padding: 10px;
  }
}

.event {
  display: flex;
  column-gap: 10%;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  /* width: 45rem; */
  height: fit-content;
  padding: 5px;
}

.event > p {
  width: 15rem;
  height: fit-content;
  padding: 5px;
  color: grey;
  text-align: center;
  /* background-color: green; */
}

.eventActions {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.eventActions img {
  width: 20px;
  transition: opacity 0.3s;
}

.eventActions img:hover {
  opacity: 0.6;
  /* cursor: pointer; */
}

.type {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  column-gap: 10px;
  width: 15rem;
  height: fit-content;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.904);
  /* background-color: blue; */
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.flexStart {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.rowDirection {
  flex-direction: row;
}

.reportOption {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reportOptionAr {
  display: flex;
  flex-direction: row-reverse;
}

.containerOption {
  /* width: 150px; */
}

.customSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
}

.customSelect select {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
}

.customSelect select:hover {
  cursor: pointer;
}

.customSelect::after {
  content: "\00b7\00b7\00b7";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #373737;
}

.customOption {
  color: rgba(0, 0, 0, 0.848);
  font-weight: bold;
  padding: 10px;
}

.reported {
  font-size: clamp(10px, 2.5vw, 18px);
  color: var(--primary-clr);
}

.persons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(176, 176, 176, 0.347);
  background-color: rgba(255, 255, 255, 0.748);
}

.things {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 5px rgba(176, 176, 176, 0.347);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.748);
}

.thing {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.linesmanContainer {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-family: var(--font-family);
}

.linesman {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.linesmanImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: fill;
}

.iconInfo {
  width: 50px;
  height: 70px;
  object-fit: contain;
}

.containerActions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.iconActions {
  max-width: 40px;
}

.iconActions:hover {
  cursor: pointer;
}

.penaltiesConatiner {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}

.selectedPenalty {
  background-color: rgba(65, 65, 65, 0.793);
}

.singleAction {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.284);
  padding: 5px;
  border-radius: 10px;
}

.singleAction:hover {
  cursor: pointer;
}

.selectedEvent {
  background-color: rgba(95, 95, 95, 0.793);
}

.selected {
  background-color: rgba(65, 65, 65, 0.793);
}

.select {
  width: 100%;
  display: block;
  padding: 10px;
  color: #222;
  border: none;
  outline: none;
  margin: 1em 0;
}

.select option {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.select option:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.minute {
  width: 100%;
  display: block;
  padding: 10px;
  color: #222;
  border: none;
  outline: none;
  margin: 1em 0;
}

.addEvent {
  width: fit-content;
  display: block;
  padding: 5px;
  border: none;
  outline: none;
  margin: 0.2em 0;
  background-color: var(--primary-clr);
  color: #fff;
  text-transform: uppercase;
  font-size: clamp(5px, 3vw, 15px);
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.addEvent:hover {
  opacity: 0.7;
  cursor: pointer;
}

.cancelEvent {
  width: fit-content;
  display: block;
  padding: 5px;
  border: none;
  outline: none;
  margin: 0.2em 0;
  background-color: var(--third-clr);
  color: #fff;
  text-transform: uppercase;
  font-size: clamp(5px, 3vw, 15px);
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.cancelEvent:hover {
  opacity: 0.7;
  cursor: pointer;
}

.addCancel {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.control {
  display: flex;
  justify-content: center;
}

.whistle {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--primary-clr);
  color: white;
  font-size: clamp(8px, 2rem, 16px);
  transition: opacity 0.3s ease-in-out;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin: 0px 20px;
}

.whistle:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cancelWhistle {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: #d85257;
  color: white;
  font-size: clamp(8px, 2rem, 16px);
  transition: opacity 0.3s ease-in-out;
  font-weight: bold;
  margin: 0px 20px;
}

.cancelWhistle:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* .transition {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  margin-top: 60px;
  background-color: #ccc;
  padding: 20px;
}

.show {
  opacity: 1;
  transform: translateY(0);
} */

/* @media screen and (max-width: 1050px) {
  .event {
    width: 80%;
  }
} */

@media screen and (max-width: 800px) {
  .event {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .event {
    width: 99%;
  }

  .containerActions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin: 10px;
  }

  .iconActions {
    max-width: 20px;
  }

  .singleAction {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.284);
    padding: 5px;
    border-radius: 10px;
    width: 40px;
  }
}

@media screen and (max-width: 550px) {
  .liveContainer {
    padding: 5px;
  }
  .event {
    column-gap: 8%;
  }
  /* .type {
    width: 12rem;
  } */
  .event > p {
    width: 8rem;
  }

  .select {
    width: 80%;
    display: block;
    padding: 5px;
    color: #222;
    border: none;
    outline: none;
    margin: 0.2em 0;
  }

  /* .select option {
    background-color: #fff; 
    color: #333; 
    padding: 10px;
    border: 1px solid #ccc; 
    transition: background-color 0.3s ease; 
  } */

  .minute {
    width: 80%;
    display: block;
    padding: 5px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em 0;
  }
}

@media screen and (max-width: 450px) {
  .event {
    column-gap: 8%;
  }
}

@media screen and (max-width: 350px) {
  .event {
    column-gap: 3%;
  }
}

.delete {
  border: none;
}
.delete:hover {
  cursor: pointer;
}

.delete:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.edit {
  border: none;
}

.edit:hover {
  cursor: pointer;
}

.edit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.open {
  padding: 0px 20px;
  /* height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 5vw, 50px);
  font-weight: bold;
  color: white;
  background-color: rgb(20, 172, 20);
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.open:hover {
  cursor: pointer;
  background-color: var(--secondary-clr);
}

.open:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.endMatch {
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(10px, 3vw, 20px);
  font-weight: bold;
  color: white;
  background-color: rgb(189, 31, 31);
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.endMatch:hover {
  cursor: pointer;
  background-color: var(--third-clr);
}

.endMatch:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.containerEvents {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.bothEvents {
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(176, 176, 176, 0.347);
  background-color: rgba(255, 255, 255, 0.748);
}

@media screen and (max-width: 600px) {
  .bothEvents {
    width: 95%;
    padding: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .containerEvents {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
