.loginPage {
  overflow: hidden;
  width: 100%;
}

.firstSection {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 200px;
  height: 100vh;
  background: linear-gradient(to bottom, #e0270b, #000000);
  font-family: var(--font-family);
  /* width: 100%; */
}

.firstSection img {
  z-index: 1;
}

.color {
  position: absolute;
  filter: blur(10px);
}

.box {
  position: relative;
}

.square img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.container {
  position: relative;
  /* width: 400px; */
  width: 30rem;
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(1px); */
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: none;
  /* background-color: green; */
}

.form {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* margin-bottom: 40px; */
  margin: 30px;
  /* background-color: purple; */
}

.form h2 {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.form h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff;
}

.form .inputBox {
  width: 100%;
  margin-top: 20px;
}

.form .inputBox input {
  background: rgba(73, 71, 71, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 100%;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 900;
  box-shadow: 10 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputBox button {
  /* background: rgba(73, 71, 71, 0.2); */
  background-color: #fff;
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16.5px;
  letter-spacing: 1px;
  font-weight: 900;
  box-shadow: 10 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputBox input::placeholder {
  color: #fff;
}

.form .inputBox input[type="submit"] {
  background: #fff;
  color: #666;
  /* max-width: 100px; */
  width: fit-content;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
}

.eyeIcon {
  position: absolute;
  top: 66%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: 900;
  border-radius: 35px;
  border: 0.4px solid black;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 2.3rem;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.login:hover{
  background-color: white;
  color: red;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 900px) {
  .firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }

  .container {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 750px) {
  .color:nth-child(3) {
    left: 1px;
  }
  .color:nth-child(2) {
    left: 1px;
  }
}

@media screen and (max-width: 550px) {
  .color:nth-child(3) {
    left: 1px;
    width: 1px;
    top: 1px;
  }
  .color:nth-child(2) {
    left: 1px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 350px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 80%;
    padding: 5px;
  }
}
