.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: wheat; */
  background-color: #151533;
}

.football {
  width: 250px;
  height: 250px;
  background-image: url("../../Assets/icons/football.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  border-radius: 50%;
  animation: spin 2s infinite linear;
  background-color: white;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .football {
    width: 150px;
    height: 150px;
  }
}
