.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .football {
    width: 250px;
    height: 250px;
    background-image: url('../../Assets/icons/football.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    animation: spin 2s infinite linear;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  