.matchesContainer {
  margin: 0 auto;
  color: white;
  font-size: clamp(14px, 4vw, 24px);
  background-color: #1e1843;
}
.bchh {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 111000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.matchesHeroSection {
  z-index: 900;
  color: white;
  width: 100%;
  /* height: 70vh; */
  height: 85dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  background-image: url("../../Assets/icons/footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
}

.lastMatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.twoTeams {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.teamsName {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.teamsName > p {
  font-size: clamp(20px, 3vw, 60px);
  font-weight: bold;
  text-align: center;
}

.teamsImage {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
}

.vs {
  background-color: rgb(255, 0, 102);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transform: rotate(-10deg);
  font-size: clamp(10px, 2rem, 18px);
}

.stadium {
  display: flex;
  column-gap: 5px;
  /* justify-content: center; */
  align-items: center;
}

.cardsContainer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: flex-start;
  column-gap: 15px;
  row-gap: 20px;
  width: 97%;
  margin: 0 auto;
}

.cardMatch {
  width: 22.2rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: #151533;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.cardMatch:hover {
  cursor: pointer;
  /* transform: scale(1.05); */
}

.cardTitle {
  color: grey;
}

.aboveHr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  margin-bottom: 10px;
}

.cardImages {
  display: flex;
  column-gap: 10px;
  align-items: center;
  /* background-color: red; */
  background-color: #3b3946;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.cardImage {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.oneTeamScore {
  display: flex;
  justify-content: space-between;
}

.employees {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.imageEmployees {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.football {
  width: 250px;
  height: 250px;
  background-image: url("../../Assets/icons/football.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  animation: spin 3s infinite linear;
}

.middle {
  display: flex;
  align-items: center;
  background-color: #151533;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.middleArabic {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #151533;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.CancelTransition {
  all: unset;
}

.Filter {
  display: flex;
  column-gap: 10px;
  width: fit-content;
  padding: 10px;
  border: 1px solid #74f6e0;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  color: #74f6e0;
  font-size: clamp(8px, 1rem, 20px);
}

.Filter:hover {
  cursor: pointer;
  background-color: var(--primary-clr);
  border: 1px solid white;
  color: white;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* StyleMatches.css */
.buttonReset {
  all: unset;
}

.playedRed {
  color: red;
  font-size: clamp(10px, 2rem, 15px);
  /* text-shadow: 1px 1px 2px black; */
  font-weight: bold;
  background-color: rgb(49, 46, 46);
  padding: 5px;
  border-radius: 50%;
}
.playedGreen {
  color: green;
  font-size: clamp(10px, 2rem, 15px);
  text-shadow: 1px 1px 2px black;
}

.matchPagination {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  color: white;
}

.pagination {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-bottom: 25px; */
  background-color: var(--third-clr);
  color: white;
  border-radius: 20px;
  width: fit-content;
  margin: 25px auto;
  padding: 5px;
}

.MuiPaginationItem-root.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
  color: white;
}

@media screen and (max-width: 1518px) {
  .cardMatch {
    width: 22rem;
  }
}

@media screen and (max-width: 1000px) {
  .teamsImage {
    width: 10rem;
    height: 10rem;
  }
  .cardsContainer {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .teamsImage {
    width: 6rem;
    height: 6rem;
  }
  .bchh {
    row-gap: 50px;
  }
  .cardMatch {
    width: 25rem;
  }
}

@media screen and (max-width: 500px) {
  .cardMatch {
    width: 20rem;
  }
  .teamsImage {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 350px) {
  .teamsImage {
    width: 3rem;
    height: 3rem;
  }
  .twoTeams {
    column-gap: 0px;
  }
  .cardMatch {
    width: 18rem;
    padding: 8px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  .cardMatch {
    width: 15rem;
  }
}
