.main {
  margin-top: 110px;
  font-size: clamp(8px, 2rem, 20px);
  font-family: var(--font-family);
  /* background-color: aliceblue; */
  color: rgba(0, 0, 0, 0.735);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: aliceblue;
  width: 100%;
  height: 100%;
}

.profileContainer {
  padding: 20px;
  display: flex;
  column-gap: 20px;
  /* background-color: aliceblue; */
}

.imageProfile {
  width: 80%;
  height: 60%;
  border-radius: 50%;
  object-fit: fill;
  padding: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.899);
  border-radius: 10px;
}

.right {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.899);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.span {
  font-weight: bold;
}

.matchCount {
  /* border: 1px solid black; */
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  border-radius: 10px;
  background-color: aliceblue;
}


.private {
  width: 100%;
  background-color: red;
  /* background-color: rgba(255, 255, 255, 0.899); */
  padding: 20px;
  display: flex;
  column-gap: 20px;
}

.matchesPrivate{
  background-color: green;
}

@media screen and (max-width:600px) {
  .profileContainer{
    flex-direction: column;
    row-gap: 20px;
  }
}
