.homeContainer {
  /* overflow-x: auto; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.association {
  color: white;
  font-size: 2rem;
  height: 60px;
  /* background-color: blue; */
  word-wrap: break-word;
}

/* .HeroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../Assets/icons/Rectangle\ 36.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
.HeroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.HeroSection::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../Assets/icons/Rectangle 36.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transform: scaleX(-1); */
}

.scale::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../Assets/icons/Rectangle 36.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.fixtureContainer {
  display: flex;
  column-gap: 20px;
  /* position: relative;
  left: 3%; */
}
.position {
  position: relative;
  left: 3%;
  top: 16%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-sizing: border-box;
  /* width: fit-content; */
  width: 90%;
  height: fit-content;
}

.positionArabic {
  position: relative;
  direction: rtl;
  top: 16%;
  right: 3%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-sizing: border-box;
}
.rtl {
  direction: rtl;
  text-align: right;
}

.position h1 {
  color: white;
  font-size: clamp(10px, 3rem, 20px);
}
.positionArabic h1 {
  color: white;
  font-size: clamp(10px, 3rem, 20px);
}

.fixture {
  width: 300px;
  height: 280px;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: var(--primary-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  backdrop-filter: blur(5px);
  transition: transform 0.3s ease-in-out;
}

.fixture:hover {
  transform: scale(1.05);
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.title {
  border: 1px solid none;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
}

.teams {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamName {
  width: 100px;
  word-wrap: break-word;
  text-align: center;
}

.oneTeam {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  row-gap: 10px;
  align-items: center;
  width: 100px;
  height: 100px;
}

.slidesHome {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  clear: both;
  width: 100%;
  /* height: 400px; */
  text-align: center;
  transition: height 0.4s ease;
}

.leftSlideHome {
  background: url("../../Assets/icons/del1.1.jpg");
  background-position: 65% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  min-width: 49%;

  height: 400px;
  display: flex;
  color: black;
  border-bottom: 1px solid black;
  padding-top: 250px;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: 0.15s all ease;
}

.leftSlideHome h4 {
  background-color: rgba(30, 30, 30, 0.9);
  width: 80%;
  margin: auto;
  padding: 15px;
  color: white;
}

.hiddenText {
  font-size: clamp(8px, 1rem, 14px);
  color: white;
  width: 80%;
  background-color: rgba(30, 30, 30, 0.9);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-bottom: 30px;
}

.leftSlideHome:hover .hiddenText {
  display: block;
  opacity: 1;
  transform: scale(1.1);
}

.rightSlideHome {
  background: url("../../Assets/icons/del3.3.jpg");
  background-position: 65% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 400px;
  /* margin: 25px 5px 0px 5px; */
  min-width: 49%;

  height: 400px;
  display: flex;
  color: black;
  border-bottom: 1px solid black;
  padding-top: 250px;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: 0.15s all ease;
}

.rightSlideHome h4 {
  background-color: rgba(30, 30, 30, 0.9);
  width: 80%;
  margin: auto;
  padding: 15px;
  color: white;
}

.rightSlideHome:hover .hiddenText {
  display: block;
  opacity: 1;
  transform: scale(1.1);
}

.descriptionSection {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  /* background-color: blue; */
}

.imageSection {
  width: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
}
.imageSection > img {
  /* width: 100%;
  height: 100%; */
  object-fit: contain;
  width: 500px;
  height: 500px;
}

.trackHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  justify-content: space-between;
  /* background-color: green; */
  width: 50%;
  margin: 5px;
  /* height: 300px; */
}

.track {
  color: rgba(0, 0, 0, 0.841);
  font-size: clamp(10px, 3rem, 22px);
}

.trackHome > p {
  color: rgb(83, 83, 83);
  font-size: clamp(6px, 5rem, 15px);
  width: 80%;
}

.explore {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px;
  font-size: clamp(10px, 3rem, 15px);
  width: fit-content;
  background-color: rgba(255, 0, 0, 0.805);
  color: white;
  transition: background-color 0.3s ease;
}

.explore:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.6);
}

@media screen and (max-width: 750px) {
  .descriptionSection {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .imageSection > img {
    width: 100%;
    height: 100%;
  }

  .trackHome {
    /* background-color: red; */
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .fixtureContainer {
    flex-direction: column;
    row-gap: 10px;
  }
  .association {
    width: 90%;
    font-size: 2rem;
  }
  .position h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 750px) {
  .slidesHome {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .leftSlideHome {
    width: 100%;
  }
  .rightSlideHome {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .association {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .association {
    font-size: 1.3rem;
    /* width: 100%; */
  }
}

@media screen and (max-width: 400px) {
  .fixture {
    width: 90%;
    height: 250px;
    row-gap: 10px;
  }

  .association {
    font-size: 1.2rem;
  }

  .info {
    row-gap: 10px;
  }
  /* .association {
    font-size: 1rem;
  } */

  .imageSection {
    display: flex;
    justify-content: center;
  }

  .imageSection > img {
    width: 280px;
  }
  .position {
    row-gap: 10px;
  }
  .positionArabic {
    row-gap: 10px;
  }
  .position h1 {
    font-size: 1rem;
  }

  .positionArabic h1 {
    font-size: 1rem;
  }
}
