.homeContainer {
  /* overflow-x: auto; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.association {
  color: white;
  font-size: 3rem;
  height: 60px;
  /* background-color: blue; */
  width: 100%;
  word-wrap: break-word;
}

.HeroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../Assets/icons/Rectangle\ 36.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fixtureContainer {
  display: flex;
  column-gap: 20px;
  /* position: relative;
  left: 3%; */
}
.position {
  position: relative;
  left: 3%;
  top: 16%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}
.position h1 {
  color: white;
  font-size: clamp(10px, 3rem, 20px);
}

.fixture {
  width: 300px;
  height: 250px;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: var(--primary-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  backdrop-filter: blur(5px);
  transition: transform 0.3s ease-in-out;
}

.fixture:hover {
  transform: scale(1.05);
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.title {
  border: 1px solid none;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
}

.teams {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamName {
  width: 100px;
  word-wrap: break-word;
  text-align: center;
}

.oneTeam {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  row-gap: 10px;
  align-items: center;
  width: 100px;
  height: 100px;
}

.slidesHome {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  clear: both;
  width: 100%;
  /* height: 400px; */
  text-align: center;
  transition: height 0.4s ease;
}

.leftSlideHome {
  background: url("../../Assets/icons/del1.1.jpg");
  background-position: 65% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  /* margin: 25px 5px 0px 5px; */
  min-width: 49%;

  height: 400px;
  display: flex;
  color: black;
  border-bottom: 1px solid black;
  padding-top: 250px;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: 0.15s all ease;
}

.leftSlideHome h4 {
  background-color: rgba(30, 30, 30, 0.9);
  width: 80%;
  margin: auto;
  padding: 15px;
  color: white;
}

.hiddenText {
  font-size: clamp(8px, 1rem, 14px);
  color: white;
  width: 80%;
  background-color: rgba(30, 30, 30, 0.9);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-bottom: 30px;
}

.leftSlideHome:hover .hiddenText {
  display: block;
  opacity: 1;
  transform: scale(1.1);
}

.rightSlideHome {
  background: url("../../Assets/icons/del3.3.jpg");
  background-position: 65% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 400px;
  /* margin: 25px 5px 0px 5px; */
  min-width: 49%;

  height: 400px;
  display: flex;
  color: black;
  border-bottom: 1px solid black;
  padding-top: 250px;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: 0.15s all ease;
}

.rightSlideHome h4 {
  background-color: rgba(30, 30, 30, 0.9);
  width: 80%;
  margin: auto;
  padding: 15px;
  color: white;
}

.rightSlideHome:hover .hiddenText {
  display: block;
  opacity: 1;
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .fixtureContainer {
    flex-direction: column;
    row-gap: 10px;
  }
  .association {
    width: 100%;
    font-size: 2rem;
    height: 10px;
  }
}

@media screen and (max-width: 550px) {
  .slidesHome {
    flex-direction: column;
    align-items: center;
  }

  .leftSlideHome {
    width: 95%;
  }
  .rightSlideHome {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .association {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .association {
    font-size: 1.7rem;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .fixture {
    width: 100%;
  }
  .association {
    display: none;
  }
}
