.container {
    margin-left: 80px;
    margin-top: 20px;
  }

  .add {
    background-color: var(--primary-clr);
    padding: 15px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .add:hover {
    background-color: var(--third-clr);
    cursor: pointer;
  }