.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
}

.active {
  /* background-color: red; */
  border-bottom: 1px solid var(--primary-clr);
  /* border: 50px solid blue; */
}

.navBar {
  width: 95%;
  /* background-color: black; */
  margin: 10px auto;
  /* padding: 5px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: red; */
  border-radius: 80px;
}
.logoContainer {
  transition: 0.3s opacity ease-in-out;
}
.logoContainer:hover {
  opacity: 0.7;
  cursor: pointer;
}

.logOut {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--primary-clr);
  color: white;
  font-size: clamp(10px, 3rem, 18px);
  transition: opacity 0.3s ease-in-out;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.logOut:hover {
  opacity: 0.8;
  cursor: pointer;
}

.logOutResponsive {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin: 0 auto;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  background-color: var(--primary-clr);
  color: white;
  font-size: clamp(10px, 3rem, 18px);
  transition: opacity 0.3s ease-in-out;
  font-weight: bold;
}

.logOutResponsive {
  opacity: 0.8;
}

.linksWrapper > li > a,
.linksWrapperMobile > li > a {
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
  font-size: 18px;
  transition: 0.3s opacity ease-in-out;
  /* padding: 10px; */
  margin: 0 auto;
}

.navBar ul > li > a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.burgerButton {
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  position: absolute;
  height: 4px;
  left: 4px;
  top: 50%;
  width: 32px;
  /* background: #fff; */
  background: black;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}
.line1 {
  transform: translateY(-12px);
  animation-delay: 100ms;
}

.line3 {
  transform: translateY(12px);
  animation-delay: 250ms;
}

.line1.a {
  transform: rotate(40deg);
}

.line3.a {
  transform: rotate(-40deg);
}

.line2.a {
  opacity: 0;
}

.linksWrapperMobile {
  background-color: rgba(167, 197, 217, 0.8);
  backdrop-filter: blur(5px);
  position: absolute;
  width: 95%;
  height: 0;
  top: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  list-style: none;
  transition: 0.2s height ease-in-out;
  margin: 0;
  /* padding: 5px; */
  overflow:hidden;
}

/* Your existing styles for .circle */
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* background-color: blue; */
  background-size: cover;
  background-position: center;
  position: relative;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.circle.active img {
  border-color: var(--primary-clr); /* Adjust the border color as needed */
}

.linksWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  /* width: 150px; */
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.linksWrapperMobile > li {
  /* padding-left: 10px; */
  /* background-color: red; */
}

.linksWrapperMobile.activeNav {
  height: 200px;
}

@media screen and (max-width: 600px) {
  .navBar {
    width: 100%;
  }

  .linksWrapper {
    display: none;
  }

  .burgerButton {
    display: block;
  }
}
